.grid-container {
    display: grid;
    grid-gap: 15px;
    height: 800px;
    width: 600px;
}
  
.box1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    background-color: green;
}
  
.box2 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 2;
    background-color: #6b6bff;
}
  
.box3 {
    grid-row: 3 / span 2;
    grid-column: 1 / span 2;
    background-color: #6bff6b;
}

.box4 {
    grid-row: 2 / span 2;
    grid-column: 3 / span 1;
    background-color: #6bff6b;
}

.box5 {
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
    background-color: #6bff6b;
}

.box6 {
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
    background-color: #6bff6b;
}

.box7 {
    grid-row: 3 / span 2;
    grid-column: 4 / span 1;
    background-color: #6bff6b;
}

.box8 {
    grid-row: 5 / span 1;
    grid-column: 1 / span 3;
    background-color: #6bff6b;
}

.box9 {
    grid-row: 5 / span 1;
    grid-column: 4 / span 1;
    background-color: #6bff6b;
}

.box10 {
    grid-row: 6 / span 1;
    grid-column: 1 / span 4;
    background-color: #6bff6b;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
}

.inner-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 80%;
}

.box {
  width: 20%;
  height: 25%;
  background-color: #6bff6b;
  margin: 2%;
}