.container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    color: aliceblue;
}

.item{
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    border: 12px solid white;
    padding-top: 20px;
}

.item img{
    width: 150px;
}

@media (min-width: 360px) and (max-width:540px){
    .container{
        text-align: center;
        flex-direction: column;
        color:black;
    }

    .item{
        background-color: pink;
    }

    .item img{
        width: 100px;
    }
}

